<% list.columns.each do |column| %>
  <td data-id="<%=record.id%>" class="<%=column_attribute_class(column.attribute)%> <%=column_type_class(model, column.attribute)%>" data-attribute="<%=column.attribute%>"<% if column.quick_edit? %> data-updatable="true"<% end %>>
    <%= render_attribute column, record %>
  </td>
<% end %>
