<% add_to_page_title "Login" %>

<%= form_tag outpost_sessions_path, id: "login" do %>
  <fieldset>
    <legend>Login</legend>
    <%= label_tag @authentication_attribute %>
    <%= text_field_tag @authentication_attribute, nil, autofocus: "autofocus" %>

    <%= label_tag "Password" %>
    <%= password_field_tag :password, nil, id: "password" %>
  </fieldset>

  <div class="form-actions">
    <%= submit_tag "Submit", class: "btn" %>
  </div>
<% end %>
